<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>


# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
 * List popular languages for Data Science.
 * List common libraries for Data Science
 * list tools for Data Science

## Author
 Tahareen Anjum

Some of the popular languages that Data Scientists use are: 
* python
* r
* SQL

Some of the commonly used libraries used by Data Scientists include:
* pandas
* numpy
* mayplotlib

|Data Science Tools|
|------------------|
|R studio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python
This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
 a=int(input("Enter minutes"))
 b=a/60
 print(b,"hours")

Enter minutes 200

3.3333333333333335 hours